html {
    font-size: 1.5rem;
}

body {
    background-color: antiquewhite;
    font-family: monospace;
}

.main {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

p {
    font-size: 1.5rem;
}
