* {
    margin: 0;
}

html {
    font-size: 1.5rem;
}

body {
    background-color: antiquewhite;
    font-family: monospace;
}

.main {
    width: 70%;
    margin: auto;
    text-align: center;
}

article h1 {
    margin-bottom: 1rem;
}

article p {
    font-size: 1.2rem;
}

#article1 {
    margin-top: 1rem;
}

#article2 {
    margin-top: 3rem;
}